@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Retro Logger</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>The ultimate application for tracking your retro video game collection</h2>
		<p>
			Retro Logger is a web application that allows users to catalog and track their collcetion of retro video games.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Check the prices of retro games to expand your collection</h2>
		<p>The Pricecharting API updates daily with the average list price for all retro games</p>
	</div>
	<div class="col-md-4">
		<h2>Built in links to purchase games and update your catalog simultaneously</h2> 
	</div>
</div>